$oswald: 'Oswald', sans-serif;
$opensans: 'Open Sans', sans-serif;


html {
  font-family: $opensans;
}


// Header and index
#header {
  width: 100%;
  padding-bottom: 5%;
  border-bottom: 5px solid #001933;
  padding-top: 4em;
  margin-bottom: 2em;

  h1 {
    text-align: center;
    font-family: $oswald;
    font-size: 4em;
  }
}

#content {
  margin: 0 auto;
  max-width: 768px;
}


// Default view
#home {

  .row {
    max-width: 100%;
    overflow: hidden;
  }

  .item {
    padding: 2% 0;
    border-bottom: 1px solid #001933;
    overflow: auto;

    .image {
      width: 100%;
      max-height: 150px;
      overflow: hidden;

      img {
        width: 100%;
        
        overflow: hidden;
      }
    }

    .text {
      vertical-align: top;
      max-width: 100%;
      
      .title {
        font-family: $oswald;
        font-size: 1.5em;
        padding-bottom: 0.5em;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;  
       }

      .author, .flickr-link {
        
          font-family: $oswald;
          color: #000;  
      }

      a {
        text-decoration: none;
        color: #000;
        cursor: pointer;  
      }

      a:hover {
        text-decoration: underline;
      }  
    }   
  }    
}


// Detail page
#detail {
  
  .detail-header {
    margin-bottom: 1em;
    
    h1 {
      font-family: $oswald;
      font-size: 2em;
    }

    .author {
      font-family: $oswald;
    }

    a {
      text-decoration: none;
      color: #000;
      cursor: pointer;  
    }

    a:hover {
      text-decoration: underline;
    } 

    .btn {
      color: #737373;
      text-decoration: none;
      float: right;
      border: none;
    } 

    .btn:hover {
      text-decoration: underline;
      background: #FFF;
    }
  }

  .detail-content {

    .image {
      max-width: 300px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .detail-text {
      .description {
        margin-bottom: 1em;
      }
            
      .tag {
        text-decoration: none;
        color: #000;
        padding: 0 5px;
        background-color: #999999;
        margin: 5px 5px;
        display: inline-block;
      }

    }
  }
}



// @import "media";