<div id="detail">
  <div class="detail-header">
    <a class="btn btn-default" href="/" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back to results</a>
    <h1><a href="#">{{ listing.title }}</a></h1>
    <p>
      <span class="author"><a href="https://www.flickr.com/people/{{ listing.author_id }}">{{ listing.author | authorFilter }}</a></span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <span class="published">Published: {{ listing.published | pubDate }}</span>
    </p>
  </div>
  
  <div class="detail-content row">
    <div class="image col-xs-12 col-md-4">
      <img class="" ng-src="{{ listing.media.m }}" />
    </div>
    <div class="detail-text col-xs-12 col-md-8">
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      <p class="tags">Tags: {{ listing.tags }}</p>
    </div>
  </div>

</div>