<div>
  
  <div class="-detail-header">
    <h1 class="title">{{listing.title}}</h1>
    <div class="back"></div>
    <p>
      <span class="author"><a href="https://www.flickr.com/people/{{listing.author_id}}">{{listing.author}}</a></span>
      <span class="published">Published: {{listing.published}}</span>
    </p>
  </div>
  
  <div class="detail-content">
    <div class="image">
      <img class="" src="{{listing.media.m}}" />
    </div>
    <div class="detail-text">
      <p class="description">{{listing.description}}</p>
      <p class="tags">{{listing.tags}}</p>
    </div>


</div>