<div id="home" class="wrapper container-fluid">
  <ul>
    <li ng-repeat="listing in listings" class="item">      
      <div class="row">  
        
        <div class="image col-md-2">
          <a href="/detail"><img class="img-responsive" src="{{listing.media.m}}"/></a>
        </div>      
      
        <div class="text col-md-9">
          <p class="title"><a href="/detail">{{listing.title}}</a><p>
          
          <p>
            <span class="author"><a href="https://www.flickr.com/people/{{listing.author_id}}">{{listing.author}}</a></span>
            <span class="published">Published: {{listing.published}}</span>
            <span class="flickr-link"><a href="{{listing.link}}">View on Flickr</a></span>
          </p>
        </div>
        
      </div>

    </li>
  </ul>
</div>

